<% content_for :secondary_header do %>
	<div class="header_sec_div">
		<div class="header_sec_content">

			<div class="header_sec_logo_div">
				<%= @category %>
			</div>

			<div class="header_sec_nav_div">
				<% @sub_category.each do |cat| %>
		  		<div class="header_sec_nav_item">
		  			<%= link_to cat.name, sub_category_path(cat.id) %>
		  		</div>	  		
		  	<% end %>
	  	</div>
		</div>
	</div>	
<% end %>

<div class="product_content">
	<div class="product_container">
	<% @products.each do |product| %>
		<div class="product_div">
			<!-- product thumbnail -->
			<div class="product_img">
				<!-- link -->
				<a href = <%= product_path(product.id) %>>
					<%= image_tag product.product_images[0].image.url %>
				</a>
			</div>

			<!-- product excerpt --> 
			<div class="product_text">
				<p style="padding: 5px"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tincidunt, nisi vitae lobortis tristique, nisl nisi aliquam nisl, ... </p>
			</div>
		</div>
	<% end %>
	</div>
</div>