<div style="padding-top:20px; padding-bottom:20px">
	<h5 style="text-align:center"> Thank you for contacting Di Legno. </h5>
	<p style="text-align:center"> We will get back to you as soon as possible. </p>

</div>
