<!-- div for black bar -->
<div class="slider_div">
	<ul class='kwicks kwicks-horizontal'>

		<!-- change to loop from featured images -->
    <% if @featured_images[0] != nil %>
      <li class='kwicks-selected'><img class="kwicks_image" src="<%= @featured_images[0].dilegno_image.image.url(:medium) %>"></li>
    <% else %>
      <li class='kwicks-selected'><img class="kwicks_image" src=""></li>
    <% end %>

    <% if @featured_images.length > 1 %>
      <% 1.upto(@featured_images.length - 1).each do |i| %>
        <li><img class="kwicks_image" src="<%= @featured_images[i].dilegno_image.image.url(:medium) %>" style=""></li>
      <% end %>
    <% end %>
  </ul>
</div>

<!-- script for kwicks -->
<script type='text/javascript'>
  $(function() {
    var $slideshow = $('.kwicks').kwicks({
      minSize : 10,
      spacing : 5
    });

    var numSlides = $slideshow.children().length,
      speed = 3500,
      curSlide = 0;


    setInterval(function() {
      $slideshow.kwicks('expand', ++curSlide % numSlides);
    }, speed);
  });
</script>
