<!-- div for black bar -->
<div class="slider_div">
	<ul class='kwicks kwicks-horizontal'>

		<!-- change to loop from featured images -->
    <% if @featured_images[0] != nil %>
      <li class='kwicks-selected'><img style="max-width:1100px  " src="<%= @featured_images[0].image.url %>"></li>
    <% else %>
      <li class='kwicks-selected'><img style="max-width:1100px  " src=""></li>
    <% end %>

    <% 1.upto(@featured_images.length).each do |i| %>
      <li><img style="max-width:1100px  " src="<%= @featured_images[i].image.url %>"></li>
    <% end %>
  </ul>
</div>

<!-- script for kwicks -->
<script type='text/javascript'>
  $(function() {
    var $slideshow = $('.kwicks').kwicks({
      size: 275,
      minSize : 50,
      spacing : 5
    });

    var numSlides = $slideshow.children().length,
      speed = 2000,
      curSlide = 0;


    setInterval(function() {
      $slideshow.kwicks('expand', ++curSlide % numSlides);
    }, speed);
  });
</script>
