// Place all the styles related to the admin/category controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.heading {
	margin: 30px;
	text-align:center;
}

.thumbnail {
  text-align:center;
  height: 260px;
  position:relative;
}

.thumbnail > li {
    display: inline-block;
    *display:inline; /* ie7 fix */
    float: none; /* this is the part that makes it work */
    height: 300px;
}

.add_picture {
	line-height:80px;
}

.the_content {
	float:left;
	height:200px;
	width:260px;
	margin-left: auto;
  margin-right:auto; 
  display:block;
}

.the_content > img {
	height:180px;
}

.the_content > h3 {
	line-height:40px;
}

.the_actions{
	float:left;
	margin-top: 0px;
	width:260px;
	height:35px;	
	position:absolute;                  /* added */
  bottom:5px;                           /* added */
}