// Place all the styles related to the Admin::PressReleases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.uneditable-input {
  height: 20px;
  overflow: hidden;
  white-space: normal !important;
}