// Place all the styles related to the admin::product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.my_hidden { 
	display: none; 
}

.image_manage {
	float:left;
}

.thumbnail>img {
	display: block;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	max-height: 200px;
	width: auto;
	max-width: 200px;
}