<div class="heading">
  <h1>Your Sub Categories</h1>
</div>
 
 <!-- first print all current categories -->
 <ul class="thumbnails">
  <li class="span3">
    <div class="thumbnail">
      <div class="add_picture">

        <img data-src="" alt="">
        <p>
          <i class="icon-plus"></i>
          <%= link_to "add", new_admin_category_path%>
        </p>
      </div>
    </div>
  </li>

  <% @categories.each do |category| %>
    <li class="span3">
      <div class="thumbnail">
        <img data-src="" alt="">
        <div class="the_content">
          <h3><%= category.name %></h3>
        </div>
        <div class="the_actions">
          <p>
            <%= link_to (raw("<i class=\"icon-edit\"></i>")), edit_admin_category_path(category), :class => "btn btn-primary"  %>
            <%= link_to (raw("<i class=\"icon-remove\"></i>")), admin_category_path(category), :method => :delete, :confirm => "Hey, you are deleting a category. \nYou probably already know, but this means its sub-categories will also be deleted, and products associated with this category have to be re-assgined.\nProceed?", :class => "btn btn-primary"%> 
          </p>
        </div>
      </div>
    </li>
  <% end %>

</ul>