<div class="heading">
  <h1>Your Products</h1>
</div>

<!-- create a form for categories-->
<div>
	<legend> Add a new product image </legend> 
<%= form_for @product_image, :url => { :action => "create" }, :html => { :multipart => true, :enctype => "multipart/form-data" } do |f| %>

	<div class="fileupload fileupload-new" data-provides="fileupload">
  	<div class="fileupload-preview thumbnail" style="width: 860px; height: 460px;"></div>
  	<div>
    	<span class="btn btn-file"><span class="fileupload-new">Select image</span><span class="fileupload-exists">Change</span><input type="file" id="product_image_image" name="product_image[image]" /></span>
    	<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
    </div>
	</div>
</br>
  <%= f.submit "Add image", :class => "btn btn-primary"%>
  <%= link_to "Cancel", {:controller => "featured_image", :action => "index"}, :class => "btn btn-primary"  %>
<% end %>


</div>
