// Place all the styles related to the Category controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product_content{
	background: #fff;
	width: 1200px;
	height: auto;
	padding-top: 20px;
}

.product_container {
	background: #fff;
	margin-left: auto ;
  margin-right: auto ;
  width: 1100px;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;

}

.product_div {
	height: auto;
	width: 330px;
	margin:10px;
	background: #fff;
	padding: 5px;
	margin-bottom: 20px;
	-moz-box-shadow: 0 0 7px #999;
	-webkit-box-shadow: 0 0 7px #999;
	box-shadow: 0 0 7px #999;
	display: inline-block;
}

#content #product_img {
	display:inline-block;
	padding:2px;
	-moz-box-shadow: 0 0 0px #999;
	-webkit-box-shadow: 0 0 0px #999;
	box-shadow: 0 0 0px #999;
	border: 0px solid;
}

.product_cat {
	text-align: center;
	align:center;
	width:940px;
	margin-left: auto ;
  margin-right: auto ;
	margin-bottom: 20px;
}

.product_text{
	width:260px;
	margin-left: auto ;
  margin-right: auto ;
}