// Place all the styles related to the Category controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product_content{
	/*background: #fff;*/
	width: 960px;
	height: auto;
	padding-top: 20px;
}

.product_container {
	/*background: #fff;*/
	margin-left: auto ;
  margin-right: auto ;
  /*width: 1100px;*/
  height: auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}

.product_div {
	height: auto;
	width: 212px;
	margin:2px;
	background: #fff;
	padding: 2px;
	margin-bottom: 10px;
	-moz-box-shadow: 0 0 1px #999;
	-webkit-box-shadow: 0 0 1px #999;
	box-shadow: 0 0 1px #999;
	display: inline-block;
/*
	border-style:solid;
	border-width:1px;
	border-color:#999*/;
}

.product_img {
	display:block;
	padding:4px;
	margin-left: auto;
  margin-right: auto;
  height:212px;
	-moz-box-shadow: 0 0 0px #999;
	-webkit-box-shadow: 0 0 0px #999;
	box-shadow: 0 0 0px #999;
	border: 0px solid;
	position:relative;
}

.product_img img {
	height:auto; 
	max-height:202px; 
	width:auto;
	max-width:202px;  

	display:block; 
	position:absolute; 
	top:0; 
	bottom:0; 
	left:0; 
	right:0; 
	margin:auto;

}

.product_cat {
	text-align: center;
	align:center;
	width:940px;
	margin-left: auto ;
  margin-right: auto ;
	margin-bottom: 20px;
}

.product_text{
	/*color: #888;*/
	width:202px;
	margin-left: auto;
  margin-right: auto;
}

.product_text > a{
	color: #444;
	font-size: 13px;
	text-align: center;
}