// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	background: #f9f9f9;
	width: 100%;
	height: 100%;

	font-family: 'Quicksand', sans-serif;
	font-weight: 550;
	color: #111;
}

.my_body {
	background: #FFFFFF;
	width: 960px;
	margin: 0 auto;
	/*padding: 0 70px;*/
	position: relative;
	z-index: 1;
	background: #fff;
	/*border: 1px solid #d9d9d9;*/
	border-top: none;
	border-bottom: none;
	overflow-x: hidden;
	overflow-y: auto;
	/*-webkit-box-shadow: 0 0 30px rgba(0,0,0,.3);
	-moz-box-shadow: 0 0 30px rgba(0,0,0,.3);
	box-shadow: 0 0 30px rgba(0,0,0,.3);*/

	
}

.kwicks_img {
    height: 550px;
    width: 960px;
    max-width: 960px;
}

.kwicks_image {
	height:auto; 
	max-height: 590px; 
	width:auto;
	max-width:960px;  

	display:block; 
	position:absolute; 
	top:0; 
	bottom:0; 
	left:0; 
	right:0; 
	margin:auto;
}

.dilegno_footer {
	width: 960px;
	height: auto;
	/*float:left;*/
	background-color: #744e1b;
	font-size: 12px;
	line-height: 14px;

	color:#fff;
	margin-right: auto;
	margin-left: auto;
}

.dilegno_footer_white {
	width: 960px;
	/*background: #744e1b;*/
	/*color: #000000;*/
	/*float: left;*/
	/*padding: 0px 0px 10px 0px;*/
	font-size: 14px;

	margin-right: auto;
	margin-left: auto;
}

.dilegno_footer_container {
	/*width: 960px;*/
	background-color: #744e1b;
}

.dilegno_footer_left {
	text-align: left;
	padding: 5px 0px 0px 40px;
	background-color: #744e1b;
	width:960px;
	height:100%;
	float: left;	
	display: table;
}


.dilegno_footer_left_img {
	padding-top: 30px;
	display: table-cell;
  vertical-align: middle;
}

.dilegno_footer_center {
	width:320px;
	float: left;
}

.dilegno_footer_right {
	width:320px;
	float: left;
}

.dilegno_footer_copyright {
	padding: 0px 0px 0px 0px;
	width: 960px;
	float:left;
}

.dilegno_footer > a:link {color:#000;}      /* unvisited link */
.dilegno_footer > a:visited {color:#000;}  /* visited link */
.dilegno_footer > a:hover {color:#000;}  /* mouse over link */
.dilegno_footer > a:active {color:#fff;}  /* selected link */

.about_container {

}

.about_info {
	width: 780px;
	padding: 20px 90px 20px 90px;
	/*color: #777;*/
}

.about_info_section {
	margin: 0px 0px 20px 0px;
	background: white;
	/*-moz-box-shadow: 0 0 1px #999;
	-webkit-box-shadow: 0 0 1px #999;
	box-shadow: 0 0 1px #999;*/
}

.about_info_section_header {
	padding: 20px 10px 5px 10px;
	margin: 0px 10px 0px 10px;
	border-bottom: solid #000;
	border-bottom-width: 2px;
	border-color: #777;
	font-size: 14px;
}

.about_info_section_content {
	padding: 15px 35px 15px 35px;
	margin: 0px 10px 0px 10px;
	font-size: 13px;
	text-align: justify;
}