// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
	background: #f2f2f2;
	width: 100%;
	height: 100%;
}

body {
	background: #FFFFFF;
	width: 1200px;
	margin: 0 auto;
	/*padding: 0 70px;*/
	position: relative;
	z-index: 1;
	background: #fff;
	border: 1px solid #d9d9d9;
	border-top: none;
	border-bottom: none;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,.3);
	-moz-box-shadow: 0 0 4px rgba(0,0,0,.3);
	box-shadow: 0 0 4px rgba(0,0,0,.3)
}

.kwicks_img {
    height: 640px;
    width: 1100px;
    max-width: 1100px;
}

.dilegno_footer {
	width: 1200px;
	/*background: #151515;*/
	background: #453823;;
	color: #FFFFFF;
	float: left;
	padding: 0px 0px 30px 0px;
	font-size: 12px;
	line-height: 15px;

	margin-bottom: 0px;
	-moz-box-shadow: 0px 0px 20px #999;
	-webkit-box-shadow: 0px 0px 20px #999;
	box-shadow: 0 0 20px #999;
}

.dilegno_footer_container {
	width: 960px;
	float: left;
	padding: 0px 120px 0px 120px;
}

.dilegno_footer_left {
	width:320px;
	height:100%;
	float: left;	
	display: table;
}

.dilegno_footer_left_img {
	padding-top: 30px;
	display: table-cell;
  vertical-align: middle;
}

.dilegno_footer_center {
	width:320px;
	float: left;
}

.dilegno_footer_right {
	width:320px;
	float: left;
}

.dilegno_footer_copyright {
	padding: 10px 0px 0px 0px;
	width: 960px;
	float:left;
}

.dilegno_footer_white {
	width: 1200px;
	background: #ffffff;
	color: #000000;
	float: left;
	padding: 0px 0px 30px 0px;
	font-size: 12px;
	line-height: 15px;

	margin-bottom: 0px;
	-moz-box-shadow: 0px 0px 20px #999;
	-webkit-box-shadow: 0px 0px 20px #999;
	box-shadow: 0 0 20px #999;
}

.dilegno_footer > a:link {color:#000;}      /* unvisited link */
.dilegno_footer > a:visited {color:#000;}  /* visited link */
.dilegno_footer > a:hover {color:#000;}  /* mouse over link */
.dilegno_footer > a:active {color:#fff;}  /* selected link */

.about_container {

}

.about_info {
	width: 960px;
	padding: 20px 120px 20px 120px;
}

.about_info_section {
	margin: 0px 0px 20px 0px;
	background: white;
	-moz-box-shadow: 0 0 10px #999;
	-webkit-box-shadow: 0 0 10px #999;
	box-shadow: 0 0 10px #999;
}

.about_info_section_header {
	padding: 25px 15px 5px 15px;
	margin: 0px 10px 0px 10px;
	border-bottom: solid #000;
	border-bottom-width: 2px;
	font-size: 18px;
}

.about_info_section_content {
	padding: 20px 40px 20px 40px;
	margin: 0px 10px 0px 10px;
	font-size: 15px;
}