/*
Description: CSS file for the main page.
*/

.slider_div {
	height: 500px;
	/*background: #151515;*/
    /*background: #453823;*/
    background: #fff;
	padding: 0px 0px 0px 0px;
    margin-bottom: 0px;
	/*-moz-box-shadow: 0px 0px 20px #999;*/
	/*-webkit-box-shadow: 0px 0px 20px #999;*/
	/*box-shadow: 0 0 20px #999;*/
}

.kwicks {
    width: 860px;
    height: 500px;
    margin-right: auto;
    margin-left: auto;
    vertical-align:middle;
}

.kwicks > li {
    width: 125px;
    height: 500px;
    background-color: #ccc;
    /* overridden by kwicks but good for when JavaScript is disabled */
    margin-left: 5px;
    float: left;
}

img.slider_img {
    height: 500px;
    width: 860px;
    max-width: 1100px;
}