/*
Description: CSS file for the main page.
*/

.slider_div {
	height: 585px;
	/*background: #151515;*/
    /*background: #453823;*/
    /*background: #111111;*/
	padding: 0px 0px 0px 0px;
    margin-bottom: 0px;
}

.kwicks {
    width: 960px;
    height: 585px;
    margin-right: auto;
    margin-left: auto;
    vertical-align:middle;
}

.kwicks > li {
    width: 125px;
    height: 585px;
    background-color: #222;
    /* overridden by kwicks but good for when JavaScript is disabled */
    margin-left: 5px;
    float: left;
}

img.slider_img {
    height: 585px;
    width: 960px;
    /*max-width: 1100px;*/
}