// Place all the styles related to the News controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.news_item {
	width:700px;
	padding: 40px 40px 40px 80px;
}

.news_item_title {
	color: #333;
	font-size: 14px;
}

.news_item_content {
	color: #333;
	font-size: 15px;
	text-align: justify;
}

.new_item_content > p > img {
	height:auto !important; 
	max-height:2000px; 
	width:auto !important;
	max-width:100px;  

	display:block; 
	top:0; 
	bottom:0; 
	left:0; 
	right:0; 
	margin:auto;
}

.news_footer{
	margin: 20px 0px 70px 0px;
	color:#555;
	border-top: solid #ccc;
	border-top-width: 1px;
}

.news_image_container {
	/*background: #fff;*/
	margin-left: auto ;
  margin-right: auto ;
  /*width: 1100px;*/
  height: auto;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

.news_image_overall_div {
	height: auto;
	width: 128px;
	margin: 2px;
	background: #fff;
	padding: 0px;
	margin-bottom: 10px;
	-moz-box-shadow: 0 0 1px #999;
	-webkit-box-shadow: 0 0 1px #999;
	box-shadow: 0 0 1px #999;
	display: inline-block;
/*
	border-style:solid;
	border-width:1px;
	border-color:#999*/;
}

.news_image_img {
	display:block;
	padding: 0px;
	margin-left: auto;
  margin-right: auto;
  height:128px;
	-moz-box-shadow: 0 0 0px #999;
	-webkit-box-shadow: 0 0 0px #999;
	box-shadow: 0 0 0px #999;
	border: 0px solid;
	position:relative;
}

.news_image_img img {
	height:auto; 
	max-height:128px; 
	width:auto;
	max-width:128px;  

	display:block; 
	position:absolute; 
	top:0; 
	bottom:0; 
	left:0; 
	right:0; 
	margin:auto;

}