// Place all the styles related to the News controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.news_item {
	width:700px;
	padding: 40px 40px 40px 80px;
}

.news_item_title {
	color: #333;
	font-size: 14px;
}

.news_item_content {
	color: #333;
	font-size: 15px;
	text-align: justify;
}

.news_footer{
	margin: 20px 0px 70px 0px;
	color:#555;
	border-top: solid #ccc;
	border-top-width: 1px;
}