<!DOCTYPE html>
<html>
<head>
  <title>Dilegno</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <div class="header_div">
	  <div class="header_logo_div">
	  	<!-- logo img -->
	  </div>

	  <div class="header_nav_div">
	  	<div class="header_nav_item">
	  		<a href="/home/index">Home</a>
	  	</div>
	  	<div class="header_nav_item">
	  		<a href="/products/categories">Products</a>
	  	</div>
	  	<div class="header_nav_item">
	  		<a href="">About</a>
	  	</div>
	  </div>
	</div>

</head>
<body>

<%= yield %>

</body>
</html>
